@import "./mixins";
@import "./variables";

.Badge {
  @include clearfix;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 10px 15px;
  user-select: none;
  white-space: nowrap;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.Badge-label {
  background: red;
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  width: 20px;
}

@include custom-colors("Badge-label", "background-color");
