@import "./mixins";
@import "./variables";

.Donut {
}

.Donut-label {
  fill: #FFFFFF;
  font-size: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

.Donut-innerCircle {
  cursor: pointer;
  fill: #C5C5C5;

  &:hover {
    fill: #AFAFAF;
  }
}

.Donut-arc {
}

@include custom-colors("Donut-arc", "stroke");

.Donut-arc--selected {
  stroke-width: 20px;
}
