@import "./variables";

.Form {
  padding: 0;
}

.Form-field {
  margin: 15px 0;
  text-align: center;
}

.Form-fieldLabel {
  color: $Form-fieldLabel--color;
  font-size: 1.15em; /* 15 / 13 */
  display: block;
  font-weight: bold;
  padding: 5px 0;
  text-transform: uppercase;
}

.Form-fieldInput {
  display: inline-block;
  width: 100%;
}

.Form-fieldInput--text {
  border: 3px solid $Form-fieldInput--borderColor;
  border-radius: 5px;
  max-width: 200px;
  padding: 5px;
}

.Form-fieldInput--select {
  border: 3px solid $Form-fieldInput--borderColor;
  border-radius: 5px;
  max-width: 200px;
  padding: 5px;
}

.Form-fieldInput--text.Form-fieldInput--invalid {
  border-color: $Form-fieldInput-invalid--borderColor;
}

.Form-fieldInput--select.Form-fieldInput--invalid {
  border-color: $Form-fieldInput-invalid--borderColor;
}

.Form-fieldInput--timespan {
  font-weight: bold;
  text-transform: uppercase;
}

.Form-fieldInput--inline {
  margin: 0 10px;
  width: initial;
}

.Form-fieldErrors {
  color: $Form-fieldErrors--color;
}

.Form-nav {
  margin-top: 20px;
  text-align: center;
}
