@import-normalize;

@import "./variables.scss";
@import "./reset.scss";

document,
body {
  background: $base--backgroundColor url(/images/bg.png) repeat;
  color: $base--color;
  font-family: $base--fontFamily;
  font-size: $base--fontSize;
  height: 100%;
  line-height: $base--lineHeight;
  min-height: 100%;
  margin: 0;
  overflow-y: hidden;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  document,
  body {
    font-size: $base--fontSize--mobile;
  }
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
