@import "./mixins";

.Layout {
  z-index: 1;
}

.Layout--landing {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Layout--withModal {
}

.Layout-header {
  flex: 1 1 100%;
}

.Layout-header--landing {
  @include hidden;
}

.Layout-content {
  margin: 0 auto;
  max-width: 1536px;
  min-width: 300px;
  padding: 0 20px;
}

.Layout-body {
  flex: 1 1 100%;
}

.Layout-innerBody {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.Layout-section {
  flex: 10 1 100%;
}

.Layout-aside {
  flex: 5 1 66%;
}

.Layout-footer {
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.4);
  flex: 1 100%;
  font-size: 1.23em; /* 16 / 13 */
  font-weight: bold;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
}

.Layout-landing {
  font-size: 1.38em; /* 18 / 13 */
  margin: 0 auto;
  max-width: 700px;
  padding: 30px 0;
}

.Layout-landingLogo {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 50%;
}

.Layout-modalOverlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.Layout-modal {
  flex: 1 1;
  margin: 20px;
  max-width: 600px;
}
