@import "./mixins";
@import "./variables";;

.MainHeader {
  @include clearfix;

  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
  padding: 10px 0;
}

.MainHeader-innerContent {
  display: flex;
  flex-flow: row nowrap;
}

.MainHeader-logo {
  display: inline-block;
  max-width: 130px;
}

.MainHeader-item {
  flex: 1 1;
}

.MainHeader-item--logo {
  flex-grow: 0;
}

.MainHeader-item--title {
  @include hidden;
}

.MainHeader-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.MainHeader-navItem {
  flex: 0 1;
  margin-left: 10px;
}

.MainHeader-navItem--separate {
  border-right: 2px solid $MainHeader-navItem-separate--borderColor;
  margin-right: 10px;
  padding-right: 20px;
}

@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .MainHeader-innerContent {
    display: initial;
  }
  .MainHeader-item--logo {
    display: block;
    margin: 0 auto 10px;
    text-align: center;
  }
  .MainHeader-nav {
    justify-content: center;
  }
  .MainHeader-navItem {
    border-right: none;
    margin: 5px;
    padding-right: 0;
    text-align: center;
  }
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
