@import "./variables";

.Modal {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.Modal-header {
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: 0;
  text-align: center;
  top: -20px;
}

.Modal-title {
  background: $Modal-title--backgroundColor;
  border: 4px solid $Modal-title--borderColor;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 16px; /* */
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}

.Modal-body {
  color: $Modal-body--color;
  padding: 30px 20px 20px 20px;
}

.Modal-closeBtnWrap {
  cursor: pointer;
  height: 36px;
  padding: 3px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 36px;
  z-index: 10;
}

.Modal-closeBtn {
  display: block;
  height: 30px;
  transform: rotate(45deg);
  width: 30px;
}

.Modal-closeBtn:before,
.Modal-closeBtn:after {
  border-radius: 4px;
  content: "";
  position: absolute;
  z-index: -1;
  background: $Modal-closeBtn--color;
}

.Modal-closeBtnWrap:hover .Modal-closeBtn:before,
.Modal-closeBtnWrap:hover .Modal-closeBtn:after {
  background: $Modal-closeBtn-hover--color;
}

.Modal-closeBtn:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.Modal-closeBtn:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}
